<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/greeting/:name" method="GET">
      <input type="text" name="name" placeholder="name">
      <input type="submit" value="greeting"></input>
    </form>
    <form action="/users" method="GET">
      <input type="submit" value="users"></input>
    </form>
  </body>
</html>
